/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url(../assets/photo-1619628554860-d13f5bd5dea9.avif);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

header h2 {
  color: black;
  font-size: 22px;
}

header li {
  color: white;
  font-weight: bold;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: 0.5sec ease-in-out;
  transition: 0.5sec ease-in-out;
}

header li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

header h1 {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  margin-top: 19%;
  word-spacing: 5px;
  text-shadow: 5px 5px black;
}

header p {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: yellow;
}

.about-me {
  position: relative;
  padding-top: 50px;
}

.about-me h2 {
  text-align: center;
  margin-top: 15px;
  color: #008080;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.about-me p {
  font-style: italic;
  text-align: center;
  font-size: 22px;
  padding-top: 20px;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.project {
  background-color: #bcd7bc;
  padding: 25px;
}

.project h2 {
  text-align: center;
  font-size: 22px;
  color: #008080;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.project p {
  font-size: 16px;
}

.project .proj {
  margin: 20px;
  width: 30%;
  height: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.project .proj:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skill {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.skill h2 {
  color: #008080;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.skill img {
  height: 50%;
  width: 25%;
  margin: 40px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skill img:hover {
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
}

footer {
  background-color: #008080;
  padding: 25px;
}

footer h2 {
  color: black;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}

footer p {
  margin-top: 20px;
  text-align: center;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social i {
  color: white;
  font-size: 20px;
  padding: 15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .social i:hover {
  -webkit-transform: rotate(360deg) scale(1.4);
          transform: rotate(360deg) scale(1.4);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */